header{
    background-color: #2A4468;
    height: 150px;
    max-width: 100%;
}


.form{
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
}
input{
    border: none;
    border-bottom: 2px solid blue;
    padding: 10px;

}

