header{
    background-color: #2A4468;
    height: 100px;
    max-width: 100%;
}
.formulario{
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    margin-top: 40px;
   
}
input{
    border: none;
    border-bottom: 2px solid blue;
    padding: 10px;

}

